<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main"
  (mouseover)="onMouseEnterSidenav()" (mouseout)="onMouseLeaveSidenav()">
  <perfect-scrollbar>
    <div class="scrollbar-inner">
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand">
          <img src="../../assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main"
            (click)="minimizeSidebar()">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <!-- <div class="collapse navbar-collapse w-auto h-auto ps" id="sidenav-collapse-main-two">
        </div> -->
        <div class="collapse navbar-collapse w-auto h-auto ps" id="sidenav-collapse-main-next">
          <!-- Divider -->
          <hr class="mt-0 mb-3" />
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">WebApps</h6>
          <ul class="navbar-nav" id="accordionMain">
            <li class="nav-item">
              <div id="navbar-h2">
                <a class="nav-link py-1" role="button" data-toggle="collapse" data-target="#header-general"
                  aria-expanded="false" aria-controls="header-general">
                  <div
                    class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center py-0 pl-0"
                    style="height: 20px;">
                    <i class="fas fa-file-alt text-primary text-sm opacity-10"></i>
                  </div>
                  <span class="nav-link-text font-weight-bold text-uppercase text-dark ms-1">General</span>
                </a>
              </div>
              <div class="collapse show" id="header-general" aria-labelledby="navbar-h2" data-parent="#accordionMain">
                <ul class="nav ms-4">
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/general/my-calendar']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> C </span>
                      <span class="sidenav-normal"> My Calendar </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <div id="navbar-h2">
                <a class="nav-link py-1" role="button" data-toggle="collapse" data-target="#header-my-overtime"
                  aria-expanded="false" aria-controls="header-my-overtime">
                  <div
                    class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center py-0 pl-0"
                    style="height: 20px;">
                    <i class="fas fa-user-clock text-primary text-sm opacity-10"></i>
                  </div>
                  <span class="nav-link-text font-weight-bold text-uppercase text-dark ms-1">Overtime</span>
                </a>
              </div>
              <div class="collapse show" id="header-my-overtime" aria-labelledby="navbar-h2"
                data-parent="#accordionMain">
                <ul class="nav ms-4">
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/overtime/my-overtimes']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> S </span>
                      <span class="sidenav-normal"> My Overtime </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <div id="navbar-h4">
                <a class="nav-link py-1" role="button" data-toggle="collapse" data-target="#header-my-leaves"
                  aria-expanded="false" aria-controls="header-my-leaves">
                  <div
                    class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center py-0 pl-0"
                    style="height: 20px;">
                    <i class="fas fa-plane text-primary text-sm opacity-10"></i>
                  </div>
                  <span class="nav-link-text font-weight-bold text-uppercase text-dark ms-1">Leaves</span>
                </a>
              </div>
              <div class="collapse show" id="header-my-leaves" aria-labelledby="navbar-h4" data-parent="#accordionMain">
                <ul class="nav ms-4">
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/leave/my-leaves']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> C </span>
                      <span class="sidenav-normal"> My Leave </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <div id="navbar-h5">
                <a class="nav-link py-1" role="button" data-toggle="collapse" data-target="#header-my-approval"
                  aria-expanded="false" aria-controls="header-my-approval">
                  <div
                    class="icon icon-shape icon-sm text-center d-flex align-items-center justify-content-center py-0 pl-0"
                    style="height: 20px;">
                    <i class="fas fa-file-alt text-primary text-sm opacity-10"></i>
                  </div>
                  <span class="nav-link-text font-weight-bold text-uppercase text-dark ms-1">Finance</span>
                </a>
              </div>
              <div class="collapse show" id="header-my-approval" aria-labelledby="navbar-h5"
                data-parent="#accordionMain">
                <ul class="nav ms-4">
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/payment/online-payments']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> O </span>
                      <span class="sidenav-normal"> Online Payments </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/payment/multiple-account-payments']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> M </span>
                      <span class="sidenav-normal"> Multi Account </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/payment/tppa-payments']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> T </span>
                      <span class="sidenav-normal"> TPPA Payments </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/payment/external-payments']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> X </span>
                      <span class="sidenav-normal"> External Payments </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-1" [routerLink]="['/payment/tender-payments']"
                      routerLinkActive="active font-weight-bold text-primary">
                      <span class="sidenav-mini-icon"> T </span>
                      <span class="sidenav-normal"> Tender Payments </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <!-- Divider -->
          <hr class="my-3" />
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">Common Apps</h6>
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-2">
            <li class="nav-item">
              <a class="nav-link py-1" routerLinkActive="active font-weight-bold text-primary"
                routerLink="/common/e-directory">
                <i class="fas fa-phone-square-alt"></i>
                <span class="nav-link-text">E Directory</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1" routerLinkActive="active font-weight-bold text-primary"
                routerLink='/common/useful-links'>
                <i class="fas fa-phone-square-alt"></i>
                <span class="nav-link-text">Useful Links</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1" routerLinkActive="active font-weight-bold text-primary" Type="button"
                (click)="feedback()">
                <i class="fas fa-comment-dots"></i>
                <span class="nav-link-text">Feedback</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1" routerLinkActive="active font-weight-bold text-primary"
                routerLink='/settings/staff-portal'>
                <i class="fas fa-cogs"></i>
                <span class="nav-link-text">Settings</span>
              </a>
            </li>
          </ul>

          <!-- Divider -->
          <hr class="my-3" />
          <!-- Heading -->
          <h6 class="navbar-heading p-0 text-muted">Version</h6>
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-3">
            <li class="nav-item">
              <a class="nav-link py-1"
                href="https://demos.creative-tim.com/argon-dashboard-pro-angular/#/documentation/overview?ref=adpa-sidebar-area"
                target="_blank">
                <i class="ni ni-spaceship"></i>
                <span class="nav-link-text">22.25.0</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </perfect-scrollbar>
</nav>