<!-- @Input() totalNotificationCount: any;
@Input() pendingNotificationList: any;
@Input() pendingNotificationListPagination: any; -->



<!-- Dropdown header -->
<div class="px-3 py-3" *ngIf="pendingNotificationList && pendingNotificationListPagination && totalNotificationCount">
  <h6 class="text-sm text-muted m-0">Showing <strong class="text-primary">{{totalNotificationCount}}</strong> from
    <strong class="text-primary">{{pendingNotificationListPagination.total_count}}</strong>
    notifications.
  </h6>
</div>

<!-- List group -->
<div class="list-group list-group-flush"
  *ngIf="pendingNotificationList && pendingNotificationListPagination && totalNotificationCount">
  <ng-container *ngFor="let notificationObj of pendingNotificationList">
    <a class="list-group-item list-group-item-action py-2">
      <div class="row align-items-center">
        <div class="col-auto">
          <!-- Avatar -->
          <img alt="Image placeholder" src="../../assets/img/theme/team-00.jpg" class="avatar rounded-circle">
        </div>
        <div class="col ml--2">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <!-- <h4 class="mb-0 text-sm">{{notificationObj.notification_title}}</h4> -->
              <span class="h4 mb-0 text-sm">{{notificationObj.notification_title}}</span>
            </div>
            <div class="text-right text-muted">
              <small class="h6">{{notificationObj.notification_created_on}}</small>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <!-- <p class="h6 text-sm mb-0">{{notificationObj.notification_message}}</p> -->
              <span class="h5 mb-0 font-weight-light">{{notificationObj.notification_message}}</span>
            </div>
            <div class="text-right text-muted">
              <i class="fas fa-envelope-open" *ngIf="notificationObj.notification_is_read"></i>
              <i class="fas fa-envelope" *ngIf="!notificationObj.notification_is_read"></i>
            </div>
          </div>
        </div>
      </div>
    </a>
  </ng-container>

</div>
<!-- View all -->
<a class="dropdown-item text-center text-primary font-weight-bold py-3"
  *ngIf="pendingNotificationList && pendingNotificationListPagination && totalNotificationCount">View all
  <strong class="text-primary">{{pendingNotificationListPagination.total_count}}</strong>
</a>