.bg-gradient-primary {
    background: linear-gradient(87deg, #00b6eb 0, #61b646 100%) !important;
}

.text-theme-apple { color: #61b646; }
.text-theme-cerulean { color: #00b6eb; }
.text-theme-atlantis { color: #afcd36; }
.text-theme-endeavour { color: #0063ac; }