<div class="row" *ngIf="request && request?.items?.Id && request?.items?.YearList?.length">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <section>
      <div *ngIf="request && request?.items?.ShiftEmployees">
        <div>
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link px-4 py-2"
                [ngClass]="tabUi.selectedTab === 'requestWeeklyShifts' ? 'active' : 'inactive'"
                (click)="selectTab('requestWeeklyShifts')" id="nav-ml-requestWeeklyShifts-tab" data-toggle="tab"
                role="tab" aria-controls="nav-requestWeeklyShifts" aria-selected="true">
                <span class="h4 font-weight-bold mb-0"
                  [ngClass]="tabUi.selectedTab === 'requestWeeklyShifts' ? 'text-primary' : 'text-dark'">
                  <i class="fas fa-list-alt"></i> Weeklyshifts
                </span>
              </a>
              <a class="nav-item nav-link px-4 py-2"
                [ngClass]="tabUi.selectedTab === 'requestShiftEmployees' ? 'active' : 'inactive'"
                (click)="selectTab('requestShiftEmployees')" id="nav-ml-requestShiftEmployees-tab" data-toggle="tab"
                role="tab" aria-controls="nav-requestShiftEmployees" aria-selected="false">
                <span class="h4 font-weight-bold mb-0"
                  [ngClass]="tabUi.selectedTab === 'requestShiftEmployees' ? 'text-primary' : 'text-dark'">
                  <i class="fas fa-history"></i> Employees & Supervisors
                </span>
              </a>
            </div>
          </nav>

          
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade"
              [ngClass]="tabUi.selectedTab === 'requestWeeklyShifts' ? 'show active' : 'hide inactive'"
              id="nav-ml-requestWeeklyShifts" role="tabpanel" aria-labelledby="nav-ml-requestWeeklyShifts-tab">
              <div class="row mt-3 mb-3">
                <div class="col-lg-12">
                  <div class="card card-stats border mb-0 h-100">
                    <div class="card-header py-2 bg-light">
                      <div class="row">
                        <div class="col-lg">
                          <h4 class="mb-0">Weeklyshifts</h4>
                        </div>
                        <div class="col-lg-auto">
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-3">

                      <div class="alert alert-info px-3 py-2 mb-0" role="alert"
                        *ngIf="request?.items?.YearList?.length < 1">
                        <span class="alert-icon"><i class="fas fa-info-circle"></i></span>
                        <span class="alert-text"><strong>Oh Snap!</strong> No Weeklyshifts Year request to view yet
                          ...!</span>
                      </div>

                      <ng-container *ngIf="request?.items?.YearList?.length">
                        <section>
                          <div class="row">
                            <ng-container *ngFor="let requestObj of request?.items?.YearList; index as i">
                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">

                                <summary class="card card-stats shadow mb-2">
                                  <div class="card-body my-auto">
                                    <div class="row">
                                      <div class="col-auto my-auto text-primary px-2">
                                        <i class="fas fa-calendar-alt fa-3x"></i>
                                      </div>
                                      <div class="col my-auto">
                                        <span class="display-3 font-weight-bold text-primary mb-0">
                                          {{requestObj}}
                                        </span>
                                      </div>
                                      <div class="col-auto ml-auto my-auto text-right px-2">
                                        <button type="button" class="btn btn-facebook btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="HR - Go to Details" (click)="goToWeeklyshift(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-arrow-circle-right"></i></span>
                                        </button>


                                      </div>
                                    </div>
                                  </div>
                                </summary>

                              </div>
                            </ng-container>
                          </div>
                        </section>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="tab-pane fade"
              [ngClass]="tabUi.selectedTab === 'requestShiftEmployees' ? 'show active' : 'hide inactive'"
              id="nav-ml-requestShiftEmployees" role="tabpanel" aria-labelledby="nav-ml-requestShiftEmployees-tab">
              <div class="row mt-3">
                <div class="col-lg-6 pr-2">
                  <div class="card card-stats border mb-0 h-100">
                    <div class="card-header py-2 bg-light">
                      <div class="row">
                        <div class="col-lg">
                          <h4 class="mb-0">Shift Supervisors</h4>
                        </div>
                        <div class="col-lg-auto">
                          <span class="badge badge-pill badge-default"
                            *ngIf="request?.items?.ShiftSupervisors && request?.items?.ShiftSupervisors?.length < 1">{{request?.items?.ShiftSupervisors?.length}}</span>
                          <span class="badge badge-pill badge-primary"
                            *ngIf="request?.items?.ShiftSupervisors && request?.items?.ShiftSupervisors?.length > 0">{{request?.items?.ShiftSupervisors?.length}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-3">

                      <div class="alert alert-info px-3 py-2 mb-0" role="alert"
                        *ngIf="request?.items?.ShiftSupervisors && request?.items?.ShiftSupervisors?.length < 1">
                        <span class="alert-icon"><i class="fas fa-info-circle"></i></span>
                        <span class="alert-text"><strong>Oh Snap!</strong> No Shiftgroup Supervisor request to view yet
                          ...!</span>
                      </div>

                      <ng-container
                        *ngIf="request?.items?.ShiftSupervisors && request?.items?.ShiftSupervisors?.length > 0">

                        <section *ngIf="requestUi?.viewType === 'card'">
                          <div class="row">
                            <ng-container *ngFor="let requestObj of request?.items?.ShiftSupervisors; index as i">
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="card card-stats shadow mb-2">
                                  <div class="card-body my-auto">
                                    <div class="row">
                                      <div class="col-auto my-auto px-2">
                                        <button type="button" class="btn btn-facebook btn-icon-only rounded-circle">
                                          <span class="btn-inner--icon">{{requestObj?.EmployeeId}}</span>
                                        </button>
                                      </div>
                                      <div class="col my-auto">
                                        <span class="h5 font-weight-bold mb-0"
                                          [ngClass]="requestObj?.IsRemoved ? 'text-danger' : 'text-primary'">
                                          {{requestObj?.Name}}
                                        </span>
                                      </div>
                                      <div class="col-auto ml-auto my-auto text-right px-2">
                                        <button type="button" class="btn btn-youtube btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Delete"
                                          *ngIf="!requestObj?.IsRemoved" (click)="getDeleteSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                        </button>

                                        <button type="button" class="btn btn-slack btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Restore"
                                          *ngIf="requestObj?.IsRemoved" (click)="getRestoreSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-undo"></i></span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </section>


                        <section *ngIf="requestUi?.viewType === 'list'">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="list-group">
                                <ng-container *ngFor="let requestObj of request?.items?.ShiftSupervisors; index as i">
                                  <div class="list-group-item list-group-item-action py-2">
                                    <div class="row">
                                      <div class="col-auto my-auto">
                                        <button type="button" class="btn btn-facebook btn-icon-only rounded-circle">
                                          <span class="btn-inner--icon">{{requestObj?.EmployeeId}}</span>
                                        </button>
                                      </div>
                                      <div class="col my-auto">
                                        <span class="h5 font-weight-bold mb-0"
                                          [ngClass]="requestObj?.IsRemoved ? 'text-danger' : 'text-primary'">
                                          {{requestObj?.Name}}
                                        </span>
                                      </div>
                                      <div class="col-auto ml-auto my-auto text-right">
                                        <button type="button" class="btn btn-youtube btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Delete"
                                          *ngIf="!requestObj?.IsRemoved" (click)="getDeleteSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                        </button>

                                        <button type="button" class="btn btn-slack btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Restore"
                                          *ngIf="requestObj?.IsRemoved" (click)="getRestoreSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-undo"></i></span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </section>


                        <section *ngIf="requestUi?.viewType === 'table'">
                          <div class="table-responsive">
                            <table class="table table-hover align-items-center table-flush">
                              <thead class="thead-light">
                                <tr>
                                  <th scope="col" class="px-3 py-2">Date</th>
                                  <th scope="col" class="px-3 py-2 text-center">Actions</th>
                                </tr>
                              </thead>
                              <tbody class="list"
                                *ngFor="let requestObj of request?.items?.ShiftSupervisors; index as i">
                                <tr>
                                  <th class="px-3 py-1">
                                    <div class="col-12 px-0">
                                      <span class="h5 font-weight-bold mb-0"
                                        [ngClass]="requestObj?.IsRemoved ? 'text-light' : 'text-dark'">
                                        <i class="fas fa-user mr-1"></i>
                                      </span>
                                      <span class="h5 font-weight-bold mb-0"
                                        [ngClass]="requestObj?.IsRemoved ? 'text-danger' : 'text-primary'">
                                        {{requestObj?.Name}} ({{requestObj?.EmployeeId}})
                                      </span>
                                    </div>
                                  </th>
                                  <td th class="px-2 py-1 text-center">
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                      data-placement="top" title="Delete" (click)="getDeleteSupervisor(requestObj)"
                                      *ngIf="!requestObj?.IsRemoved">
                                      <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                                      data-placement="top" title="Restore" (click)="getRestoreSupervisor(requestObj)"
                                      *ngIf="requestObj?.IsRemoved">
                                      <span class="btn-inner--icon"><i class="fas fa-undo"></i></span>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </section>

                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 pl-2">
                  <div class="card card-stats border mb-0 h-100">
                    <div class="card-header py-2 bg-light">
                      <div class="row">
                        <div class="col-lg">
                          <h4 class="mb-0">Shift Employees</h4>
                        </div>
                        <div class="col-lg-auto">
                          <span class="badge badge-pill badge-default"
                            *ngIf="request?.items?.ShiftEmployees && request?.items?.ShiftEmployees?.length < 1">{{request?.items?.ShiftEmployees?.length}}</span>
                          <span class="badge badge-pill badge-primary"
                            *ngIf="request?.items?.ShiftEmployees && request?.items?.ShiftEmployees?.length > 0">{{request?.items?.ShiftEmployees?.length}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-3">

                      <div class="alert alert-info px-3 py-2 mb-0" role="alert"
                        *ngIf="request?.items?.ShiftEmployees && request?.items?.ShiftEmployees?.length < 1">
                        <span class="alert-icon"><i class="fas fa-info-circle"></i></span>
                        <span class="alert-text"><strong>Oh Snap!</strong> No Shiftgroup Employee request to view yet
                          ...!</span>
                      </div>

                      <ng-container *ngIf="request?.items?.ShiftEmployees && request?.items?.ShiftEmployees.length > 0">
                        <section *ngIf="requestUi?.viewType === 'card'">
                          <div class="row">
                            <ng-container *ngFor="let requestObj of request?.items?.ShiftEmployees; index as i">
                              <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="card card-stats shadow mb-2">
                                  <div class="card-body my-auto">
                                    <div class="row">
                                      <div class="col-auto my-auto px-2">
                                        <button type="button" class="btn btn-facebook btn-icon-only rounded-circle">
                                          <span class="btn-inner--icon">{{requestObj?.EmployeeId}}</span>
                                        </button>
                                      </div>
                                      <div class="col my-auto">
                                        <span class="h5 font-weight-bold mb-0"
                                          [ngClass]="requestObj?.IsRemoved ? 'text-danger' : 'text-primary'">
                                          {{requestObj?.Name}}
                                        </span>
                                      </div>
                                      <div class="col-auto ml-auto my-auto text-right px-2">
                                        <button type="button" class="btn btn-youtube btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Delete"
                                          *ngIf="!requestObj?.IsRemoved" (click)="getDeleteSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                        </button>

                                        <button type="button" class="btn btn-slack btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Restore"
                                          *ngIf="requestObj?.IsRemoved" (click)="getRestoreSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-undo"></i></span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </section>


                        <section *ngIf="requestUi?.viewType === 'list'">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="list-group">
                                <ng-container *ngFor="let requestObj of request?.items?.ShiftEmployees; index as i">
                                  <div class="list-group-item list-group-item-action py-2">
                                    <div class="row">
                                      <div class="col-auto my-auto">
                                        <button type="button" class="btn btn-facebook btn-icon-only rounded-circle">
                                          <span class="btn-inner--icon">{{requestObj?.EmployeeId}}</span>
                                        </button>
                                      </div>
                                      <div class="col my-auto">
                                        <span class="h5 font-weight-bold mb-0"
                                          [ngClass]="requestObj?.IsRemoved ? 'text-danger' : 'text-primary'">
                                          {{requestObj?.Name}}
                                        </span>
                                      </div>
                                      <div class="col-auto ml-auto my-auto text-right">
                                        <button type="button" class="btn btn-youtube btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Delete"
                                          *ngIf="!requestObj?.IsRemoved" (click)="getDeleteSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                        </button>

                                        <button type="button" class="btn btn-slack btn-icon-only rounded-circle"
                                          data-toggle="tooltip" data-placement="top" title="Restore"
                                          *ngIf="requestObj?.IsRemoved" (click)="getRestoreSupervisor(requestObj)">
                                          <span class="btn-inner--icon"><i class="fas fa-undo"></i></span>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </section>


                        <section *ngIf="requestUi?.viewType === 'table'">
                          <div class="table-responsive">
                            <table class="table table-hover align-items-center table-flush">
                              <thead class="thead-light">
                                <tr>
                                  <th scope="col" class="px-3 py-2">Date</th>
                                  <th scope="col" class="px-3 py-2 text-center">Actions</th>
                                </tr>
                              </thead>
                              <tbody class="list" *ngFor="let requestObj of request?.items?.ShiftEmployees; index as i">
                                <tr>
                                  <th class="px-3 py-1">
                                    <div class="col-12 px-0">
                                      <span class="h5 font-weight-bold mb-0"
                                        [ngClass]="requestObj?.IsRemoved ? 'text-light' : 'text-dark'">
                                        <i class="fas fa-user mr-1"></i>
                                      </span>
                                      <span class="h5 font-weight-bold mb-0"
                                        [ngClass]="requestObj?.IsRemoved ? 'text-danger' : 'text-primary'">
                                        {{requestObj?.Name}} ({{requestObj?.EmployeeId}})
                                      </span>
                                    </div>
                                  </th>
                                  <td th class="px-2 py-1 text-center">
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                      data-placement="top" title="Delete" (click)="getDeleteEmployee(requestObj)"
                                      *ngIf="!requestObj?.IsRemoved">
                                      <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip"
                                      data-placement="top" title="Restore" (click)="getRestoreEmployee(requestObj)"
                                      *ngIf="requestObj?.IsRemoved">
                                      <span class="btn-inner--icon"><i class="fas fa-undo"></i></span>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </section>

                      </ng-container>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>
    </section>
  </div>
</div>