<!-- <div class="toast toast-notification-server" role="alert" aria-live="assertive" aria-atomic="true" *ngIf="!typeEnv">
  <div class="toast-body bg-info py-1">
    <div class="row">
      <div class="col pr-2">
        <small>Dev Server: </small>
        <span class="badge badge-light mb-1">
          <strong>{{appEnv}}</strong>
        </span>
      </div>
      <div class="col pl-2">
        <small>Api Server: </small>
        <span class="badge badge-light mb-1">
          <strong>{{apiEnv}}</strong>
        </span>
      </div>
      <div class="col pl-2">
        <small>Api version: </small>
        <span class="badge badge-light mb-1">
          <strong>{{versionEnv}}</strong>
        </span>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>


