<div>
  <div class="alert alert-info py-1 px-3" role="alert" id="createModel-info-alert">
    <span class="alert-icon"><i class="fas fa-info-circle"></i></span>
    <span class="alert-text"><strong>Information!</strong> Select Leave Type to Continue... !</span>
  </div>

  <div class="alert alert-danger py-1 px-3" role="alert" *ngIf='general_api_error'>
    <span class="alert-icon"><i class="fas fa-exclamation-circle"></i></span>
    <span class="alert-text"><strong>Error !</strong> {{general_api_error}} ... !</span>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12">
      <div class="card card-stats border mb-0">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-12 mb-2">
              <h6 class="card-title text-uppercase text-muted mb-0">Employee Details</h6>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-auto">
                  <span class="avatar avatar-sm rounded-circle"
                    *ngIf="selectedEmployee?.employee_picture_path">
                    <img [src]="selectedEmployee?.employee_picture_path" alt="..."
                      style="width: 36px; height: 36px; object-fit: cover;" />
                  </span>
                  <span class="avatar avatar-sm rounded-circle"
                    *ngIf="!selectedEmployee?.employee_picture_path">
                    <img src="../../assets/img/theme/team-00.jpg" alt="..."
                      style="width: 36px; height: 36px; object-fit: cover;">
                  </span>
                </div>
                <div class="col-lg my-auto">
                  <span class="h4 font-weight-bold mb-0">
                    {{selectedEmployee?.employee_name_with_id}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-stats border mb-0">
        <div class="card-body p-3">
          <div class="row my-auto">
            <div class="col-lg-12 px-4 mb-2">
              <div class="row">
                <div class="col-lg-6">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="selectMedicalLeaveType1" name="selectSelfCerification" checked
                      [(ngModel)]="selectMedicalLeaveType" value="Self Certification" class="custom-control-input"
                      (ngModelChange)="onChangeEvent($event)">
                    <label class="custom-control-label" for="selectMedicalLeaveType1">Self Certification</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="custom-control custom-radio">
                    <input type="radio" id="selectMedicalLeaveType2" name="selectSelfCerification"
                      [(ngModel)]="selectMedicalLeaveType" value="Medical Certificate" class="custom-control-input"
                      (ngModelChange)="onChangeEvent($event)">
                    <label class="custom-control-label" for="selectMedicalLeaveType2">Medical Certificate</label>
                  </div>
                </div>
                <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_absence_type_sap_id">
                  <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_absence_type_sap_id">
                    <li class="mt-0">
                      <span class="h5 text-danger mb-1 mt-0 d-block">Please select Leave Type.</span>
                    </li>
                    <li class="mt-0" *ngFor="let error of model_state_error.leave_request_absence_type_sap_id">
                      <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-12 px-4 mt-2 mb-3" *ngIf="myLeaveQuota && absenceTypeSapId === '9001'">
              <ul class="list-group list-group-flush list" *ngFor="let item of myLeaveQuota">
                <li class="list-group-item px-3 py-1" *ngIf="absenceTypeSapId === item.absence_type_sap_id"
                  style="background-color: #f6f9fc;">
                  <div class="row align-items-center">
                    <div class="col-lg-3">
                      <small class="h6 text-uppercase py-0 text-muted">Leave Type:</small>
                      <h5 class="mb-0 text-primary">{{item.absence_type_name}}</h5>
                    </div>
                    <div class="col-lg-3 text-center">
                      <small class="h6 text-uppercase py-0 text-muted">Entitled:</small>
                      <h5 class="mb-0">{{("00"+item.absence_quota_entitled).slice(-2)}}</h5>
                    </div>
                    <div class="col-lg-3 text-center">
                      <small class="h6 text-uppercase py-0 text-muted">Deducted:</small>
                      <h5 class="mb-0 text-danger">{{("00"+item.absence_quota_deducted).slice(-2)}}</h5>
                    </div>
                    <div class="col-lg-3 text-center">
                      <small class="h6 text-uppercase py-0 text-muted">Remaining:</small>
                      <h5 class="mb-0 text-success">{{("00"+item.absence_quota_remaining).slice(-2)}}</h5>
                    </div>
                  </div>
                </li>
              </ul>
            </div>



            <ng-container *ngIf="selectMedicalLeaveType === 'Self Certification'">
              <div class="col-lg-12 px-2">
                <div class="input-daterange datepicker row align-items-center m-0 p-0">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group mb-2">
                          <label for="fromDate" class="h5 text-muted ml-2 mb-1">From</label>
                          <input type="date" class="form-control col-12" placeholder="Enter Leave Taken From Date"
                            name="takenFrom" id="takenFrom" [(ngModel)]="takenFrom" (ngModelChange)="onChangeEvent($event)">
                        </div>
                      </div>
                      <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_taken_from">
                        <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_taken_from">
                          <li class="mt-0" *ngFor="let error of model_state_error.leave_request_taken_from">
                            <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group mb-2">
                          <label for="toDate" class="h5 text-muted ml-2 mb-1">To</label>
                          <input type="date" class="form-control col-12" placeholder="Enter Leave Taken To Date"
                            name="takenTo" id="takenTo" [(ngModel)]="takenTo" (ngModelChange)="onChangeEvent($event)">
                        </div>
                      </div>
                      <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_taken_to">
                        <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_taken_to">
                          <li class="mt-0" *ngFor="let error of model_state_error.leave_request_taken_to">
                            <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error['']">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error['']">
                      <li class="mt-0" *ngFor="let error of model_state_error['']">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_employee_id">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_employee_id">
                      <li class="mt-0" *ngFor="let error of model_state_error.leave_request_employee_id">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 px-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group mb-2">
                      <label for="toDate" class="h5 text-muted ml-2 mb-1">Nature of Sickness</label>
                      <input type="test" class="form-control col-12" placeholder="Enter Leave Additional Details"
                        name="natureOfSickness" id="natureOfSickness" [(ngModel)]="natureOfSickness" (ngModelChange)="onChangeEvent($event)">
                    </div>
                  </div>
                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_nature_of_sickness">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_nature_of_sickness">
                      <li class="mt-0" *ngFor="let error of model_state_error.leave_request_nature_of_sickness">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="selectMedicalLeaveType === 'Medical Certificate'">
              <div class="col-lg-12 mb-3 px-2">
                <div class="row">
                  <div class="col-lg-12">
                    <form class="form-inline">
                      <div class="form-group col-12">
                        <label for="InputTo" class="h5 text-muted mb-1">Nature of Sickness</label>
                        <input type="to" class="form-control col-12" aria-describedby="emailHelp"
                          placeholder="Enter Nature of Sickness" id="natureOfSickness" name="natureOfSickness"
                          [(ngModel)]="natureOfSickness" (ngModelChange)="onChangeEvent($event)">
                      </div>
                    </form>
                  </div>
                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_nature_of_sickness">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_nature_of_sickness">
                      <li class="mt-0" *ngFor="let error of model_state_error.leave_request_nature_of_sickness">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 px-2">
                <div class="input-daterange datepicker row align-items-center m-0 p-0">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group mb-2">
                          <label for="fromDate" class="h5 text-muted ml-2 mb-1">From</label>
                          <input type="date" class="form-control col-12" placeholder="Enter Leave Taken From Date"
                            name="takenFrom" id="takenFrom" [(ngModel)]="takenFrom" (ngModelChange)="onChangeEvent($event)">
                        </div>
                      </div>
                      <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_taken_from">
                        <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_taken_from">
                          <li class="mt-0" *ngFor="let error of model_state_error.leave_request_taken_from">
                            <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group mb-2">
                          <label for="toDate" class="h5 text-muted ml-2 mb-1">To</label>
                          <input type="date" class="form-control col-12" placeholder="Enter Leave Taken To Date"
                            name="takenTo" id="takenTo" [(ngModel)]="takenTo" (ngModelChange)="onChangeEvent($event)">
                        </div>
                      </div>
                      <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_taken_to">
                        <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_taken_to">
                          <li class="mt-0" *ngFor="let error of model_state_error.leave_request_taken_to">
                            <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error['']">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error['']">
                      <li class="mt-0" *ngFor="let error of model_state_error['']">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="h5 text-muted ml-2 mt-2 mb-1">Starting
                        files</label>
                      <small class="form-text text-muted ml-2 mb-3">
                        Choose the images you want to upload. Please use an image no larger than 1200px * 600px.
                      </small>
                      <div class="card">
                        <div class="card-body p-3">
                          <ngx-dropzone (change)="createMedicalLeave($event)">
                            <ngx-dropzone-label> Drop it here ! </ngx-dropzone-label>
                            <ngx-dropzone-preview class="avatar avatar-xxl" *ngFor="let file of fileList"
                              [removable]="true" (removed)="removeDocument(file)">
                              <ngx-dropzone-label class="h6">{{ file.name }} ({{ file.type }})
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </ngx-dropzone>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_uploaded_document">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_uploaded_document">
                      <li class="mt-0" *ngFor="let error of model_state_error.leave_request_uploaded_document">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error.employee_id">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.employee_id">
                      <li class="mt-0" *ngFor="let error of model_state_error.employee_id">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-12" *ngIf="model_state_error && model_state_error.leave_request_employee_id">
                    <ul class="pl-5 mb-2" *ngIf="model_state_error && model_state_error.leave_request_employee_id">
                      <li class="mt-0" *ngFor="let error of model_state_error.leave_request_employee_id">
                        <span class="h5 text-danger mb-1 mt-0 d-block">{{error}}.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col-lg-12 px-2 py-2 my-0" *ngIf="selectMedicalLeaveType ==='Self Certification'">
              <div class="col-12 my-0">
                <div class="form-group float-right my-0">
                  <button class="btn btn-icon btn-primary mb-2" type="button" (click)="createLeave()" [disabled]="disableSaveButton || showModelLoader">
                    <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                    <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                    <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                    <span class="btn-inner--text" *ngIf="!showModelLoader">Save</span>
                  </button>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-12 px-2 py-2 my-0" *ngIf="selectMedicalLeaveType ==='Medical Certificate'">
              <div class="col-12 my-0">
                <div class="form-group float-right my-0">
                  <button class="btn btn-icon btn-primary mb-2" type="button" (click)="createMedicalLeave()" [disabled]="disableSaveButton || showModelLoader">
                    <span class="btn-inner--icon" *ngIf="showModelLoader"><i class="fas fa-spinner fa-spin"></i></span>
                    <span class="btn-inner--icon" *ngIf="!showModelLoader"><i class="fas fa-save"></i></span>
                    <span class="btn-inner--text" *ngIf="showModelLoader">Saving ...</span>
                    <span class="btn-inner--text" *ngIf="!showModelLoader">Save</span>
                  </button>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>